syntax:glob
.DS_Store
.gitignore
*.o
kernel.bin
FlapjackOS.iso
FlapjackOS_Test
bochsrc
isodir/
parport.out
bochsout.txt
debugger.out
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
.idea/
FlapjackOS.cbp
CMakeScripts/
CTestTestfile.cmake
Testing/
